<!DOCTYPE html>

<html lang="en">

  <!-- Head & Navigation -->
  {% include "header.html" %}

  <body>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>I'm a Python Developer 👨🏽‍💻 that can use Python to do almost anything from Web Scraping to Automation to
            Graphic User Interface and even in the backend to build data-driven Flask applications like the one you're
            using now 😉</p>
          <p>When I'm not coding I'm going hard in the gym with my buddies lifting heavy ass weight 🏋️‍♂ from the compound
          lifts like the bench press, back squats and deadlifts to the isolation exercises of which dumbbell lateral
          raise is my personal favorite 💪</p>
          <p>Asides coding and training, another activity I relish is the art of making money 💸 You can easily catch
          me setting up a need-based business online or investing in cash-flowing assets that appreciate of course</p>
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    {% include "footer.html" %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

  </body>

</html>
